header {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100%;
}

.logodiv > img {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: baseline;
}

.logozao > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid red;
}

.logozao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    
}

.nav1 {
    display: flex;
   flex-direction: row;
    justify-content: space-evenly;
}

.nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: space-evenly;
}
#botao {
        background-color: rgb(235, 78, 78);
        width: 400px;
        height: 60px;
        border:50cm;
        box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.025);
        border-radius: 20px;
        font-family: 'Titillium Web', sans-serif;
         font-weight: 600;
          font-size: 20px;
          color: #000000;
          align-items: center;
        
     }
  
     .aside1 {
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        
        background-color: lightgray;
     }

    .font2 {
        font-size: 50px;
    }

    .nossoobj {
        font-family: sans-serif;
        font-size: 50px;
    }